@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@font-face {
  font-family: "NoirPro-Bold";
  src: url("../fonts/NoirPro-Bold.otf");
}
@font-face {
  font-family: "NoirPro";
  src: url("../fonts/NoirPro-Regular.otf");
}
@font-face {
  font-family: "NoirPro-Light";
  src: url("../fonts/NoirPro-Light.otf");
}
body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "NoirPro-Light";
}

body {
  -webkit-animation: body-fadein 1s; /* Safari 4+ */
  -moz-animation: body-fadein 1s; /* Fx 5+ */
  -o-animation: body-fadein 1s; /* Opera 12+ */
  animation: body-fadein 1s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes body-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes body-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes body-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes body-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*:focus {
  outline: none !important;
}

button,
a,
.btn {
  text-decoration: none;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
button:hover, button:focus,
a:hover,
a:focus,
.btn:hover,
.btn:focus {
  text-decoration: none;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}

@media screen and (max-width: 599px) {
  .header {
    padding-top: 30px;
    position: relative;
  }
}
.header .logo {
  padding: 15px;
  flex: 0 0 auto;
  width: 20%;
  text-align: center;
}
.header .logo img {
  width: 180px;
}
@media screen and (max-width: 599px) {
  .header .logo {
    width: 170px;
    padding: 0px;
  }
  .header .logo img {
    width: 100%;
  }
}
.header .header-menu-section .header-top {
  background-color: #262262;
  padding: 10px 15px;
  color: #ffffff;
  display: flex;
  font-size: 14px;
}
@media screen and (max-width: 599px) {
  .header .header-menu-section .header-top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 4px 10px !important;
  }
}
.header .header-menu-section .header-top .rc {
  display: inherit;
}
@media screen and (max-width: 599px) {
  .header .header-menu-section .header-top .rc {
    display: none;
  }
}
.header .header-menu-section .header-top .header-icon {
  margin-right: 30px;
}
@media screen and (max-width: 599px) {
  .header .header-menu-section .header-top .header-icon {
    margin-right: 15px !important;
  }
}
.header .header-menu-section .header-top .header-icon a {
  color: #ffffff;
}
.header .header-menu-section .header-top .header-icon a:hover {
  color: #00a79d;
}
.header .header-menu-section .header-top .header-icon .bi {
  padding-right: 5px;
}
.header .header-menu-section .header-top .header-social-icons {
  margin-left: auto;
}
.header .header-menu-section .header-top .header-social-icons a {
  color: #ffffff;
  padding: 0px 10px;
}
.header .header-menu-section .header-top .header-social-icons a:hover {
  color: #00a79d;
}
.header .header-menu-section .header-bottom {
  background-color: rgba(33, 150, 243, 0.1);
  position: relative;
}
@media screen and (max-width: 599px) {
  .header .header-menu-section .header-bottom {
    position: absolute;
    top: 93px;
    left: 0px;
    width: 100%;
    z-index: 9;
    background: rgba(255, 255, 255, 0.89);
  }
}
.header .header-menu-section .header-bottom .btn-menu {
  display: none;
  position: absolute;
  top: -50px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 599px) {
  .header .header-menu-section .header-bottom .btn-menu {
    display: inherit;
  }
}
.header .header-menu-section .header-bottom .btn-menu .menu-icon {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #00a79d;
}
.header .header-menu-section .header-bottom .btn-menu .menu-icon::before, .header .header-menu-section .header-bottom .btn-menu .menu-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #00a79d;
  position: absolute;
  left: 0;
}
.header .header-menu-section .header-bottom .btn-menu .menu-icon::after {
  top: 10px;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
.header .header-menu-section .header-bottom .btn-menu .menu-icon::before {
  top: -10px;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
.header .header-menu-section .header-bottom .btn-menu.open .menu-icon {
  background-color: transparent;
}
.header .header-menu-section .header-bottom .btn-menu.open .menu-icon::after, .header .header-menu-section .header-bottom .btn-menu.open .menu-icon::before {
  top: 0px;
}
.header .header-menu-section .header-bottom .btn-menu.open .menu-icon::after {
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header .header-menu-section .header-bottom .btn-menu.open .menu-icon::before {
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.header .header-menu-section .header-bottom .custom-navbar {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width: 599px) {
  .header .header-menu-section .header-bottom .custom-navbar {
    display: none;
  }
}
.header .header-menu-section .header-bottom .custom-navbar li a {
  color: #0b090e;
  padding: 25px 50px;
  display: inline-flex;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.header .header-menu-section .header-bottom .custom-navbar li a:hover {
  background-color: #00a79d;
  color: #ffffff;
}
.header .header-menu-section .header-bottom .custom-navbar li a:hover::before {
  height: 100%;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
.header .header-menu-section .header-bottom .custom-navbar li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #00a79d;
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
@media screen and (max-width: 599px) {
  .header .header-menu-section .header-bottom .custom-navbar li a {
    width: 100%;
    padding: 15px;
  }
}
.header .header-menu-section .header-bottom .custom-navbar li.active a {
  background-color: #ef4136;
  color: #ffffff;
}
.header .header-menu-section .header-bottom .custom-navbar li.active a::before {
  display: none;
}
.header .ofoh {
  position: absolute;
  bottom: 19px;
  right: 15px;
  color: #ffffff;
  z-index: -1;
  padding: 6px 15px;
  border-radius: 40px;
  font-size: 14px;
  background: #262262;
  background: -moz-linear-gradient(left, #00a79d 0%, #262262 80%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00a79d), color-stop(80%, #262262));
  background: -webkit-linear-gradient(left, #00a79d 0%, #262262 80%);
  background: -o-linear-gradient(left, #00a79d 0%, #262262 80%);
  background: linear-gradient(140deg, #00a79d 0%, #262262 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00a79d, endColorstr=#262262);
}
@media screen and (max-width: 599px) {
  .header .ofoh {
    display: none;
  }
}

.banner-part {
  position: relative;
  z-index: 0;
}
.banner-part.inner .banner-text {
  font-size: 40px;
  height: 100px;
  width: auto;
}
.banner-part .banner-text {
  position: absolute;
  top: calc(70% - 75px);
  left: calc(30% - 350px);
  display: block;
  height: 150px;
  color: #ffffff;
  font-size: 36px;
  width: 700px;
  padding-top: 22px;
  padding-left: 40px;
  z-index: 0;
}
@media screen and (max-width: 599px) {
  .banner-part .banner-text {
    font-size: 14px;
    left: 0px;
    bottom: 0px;
    top: inherit;
    height: 50px;
    padding: 5px 10px;
  }
}
.banner-part .banner-text::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(239, 65, 54, 0.78);
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation: slide 2s; /* Safari 4+ */
  -moz-animation: slide 2s; /* Fx 5+ */
  -o-animation: slide 2s; /* Opera 12+ */
  animation: slide 2s; /* IE 10+, Fx 29+ */
  z-index: -1;
}
.banner-part img {
  width: 100%;
}

@-webkit-keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-ms-keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.section-heading {
  text-align: center;
  color: #00a79d;
  text-transform: uppercase;
  position: relative;
  line-height: 80px;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
@media screen and (max-width: 599px) {
  .section-heading {
    line-height: 40px;
    font-size: 20px;
  }
}
.section-heading span {
  font-family: "NoirPro-Bold";
}
.section-heading::after {
  content: "";
  height: 3px;
  width: 100px;
  background-color: #262262;
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}

.section-para {
  text-align: center;
  margin-top: 30px;
}
@media screen and (max-width: 599px) {
  .section-para {
    font-size: 14px;
    margin-top: 15px;
  }
}

.healthy-water {
  padding: 70px 0px;
}
@media screen and (max-width: 599px) {
  .healthy-water {
    padding: 30px 0px;
  }
}
.healthy-water:hover .section-heading {
  color: #262262;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
.healthy-water:hover .section-heading::after {
  width: 120px;
  background-color: #ef4136;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}

.section-footer {
  text-align: center;
  padding-top: 40px;
}
.section-footer .btn-section,
.section-footer .btn-section {
  padding: 10px 40px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #00a79d;
  font-family: "NoirPro-Bold";
  color: #ffffff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.section-footer .btn-section:hover,
.section-footer .btn-section:hover {
  -webkit-transform: translate(3px, 3px);
  -ms-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  background-color: #262262;
  box-shadow: -5px 5px #00a79d;
}

.section-card {
  margin-top: 50px;
  background: url(../img/card-bg.png) no-repeat;
  background-color: rgb(238, 245, 255);
  padding: 20px;
  border-radius: 6px;
  position: relative;
  z-index: 0;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
@media screen and (max-width: 599px) {
  .section-card {
    margin-top: 15px;
  }
}
.section-card .card-icon {
  width: 80px;
  height: 80px;
  margin: 20px 0px;
}
.section-card .card-icon img {
  width: 100%;
}
.section-card .card-content {
  margin-top: 35px;
}
.section-card .card-content .card-heading {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "NoirPro-Bold";
  color: #262262;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
.section-card::before {
  content: "";
  height: 100%;
  width: 30px;
  background-color: transparent;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
  z-index: -1;
}
.section-card:hover {
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
  box-shadow: 10px 10px #00a79d;
}
.section-card:hover::before {
  width: 100%;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
  background: url(../img/card-hover-bg.png) no-repeat center;
  background-color: #ffffff;
}
.section-card:hover .card-content .card-heading {
  color: #ef4136;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}

.feature-products {
  padding: 70px 0px;
  background: url(../img/section-white-bg.png) no-repeat;
  background-color: rgba(33, 150, 243, 0.1);
  background-position: left center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 599px) {
  .feature-products {
    padding: 30px 0px;
  }
}
.feature-products:hover .section-heading {
  color: #262262;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
.feature-products:hover .section-heading::after {
  width: 120px;
  background-color: #ef4136;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}

.feature-card {
  position: relative;
  overflow: hidden;
  margin: 0px 15px;
}
.feature-card .feature-img img {
  width: 100%;
}
.feature-card .feature-heading {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  background: #0b090e;
  background: -moz-linear-gradient(transparent 0%, #0b090e 80%);
  background: -webkit-gradient(linear, color-stop(0%, transparent), color-stop(80%, #0b090e));
  background: -webkit-linear-gradient(transparent 0%, #0b090e 80%);
  background: -o-linear-gradient(transparent 0%, #0b090e 80%);
  background: linear-gradient(transparent 0%, #0b090e 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=transparent, endColorstr=#0b090e);
  color: #ffffff;
  font-family: "NoirPro-Bold";
  font-size: 24px;
  display: flex;
  align-items: end;
  padding: 15px;
}
@media screen and (max-width: 599px) {
  .feature-card .feature-heading {
    font-size: 18px;
  }
}
.feature-card .feature-card-details {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  color: #ffffff;
  background-color: #262262;
  z-index: 1;
  overflow: hidden;
  padding: 180px 20px 20px;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}
.feature-card .feature-card-details .feature-card-img {
  width: 200px;
  height: 200px;
  padding: 80px 40px 40px 80px;
  background-color: #00a79d;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: -50px;
}
.feature-card .feature-card-details .feature-card-img img {
  width: 100%;
}
.feature-card .feature-card-details .card-heading {
  font-family: "NoirPro-Bold";
}
@media screen and (max-width: 599px) {
  .feature-card .feature-card-details .card-heading {
    font-size: 16px;
  }
}
.feature-card .feature-card-details .card-para {
  font-size: 14px;
}
@media screen and (max-width: 599px) {
  .feature-card .feature-card-details .card-para {
    font-size: 13px;
  }
}
.feature-card .feature-card-details .btn-feature {
  border: none;
  padding: 0px;
  color: #ffffff;
  font-size: 14px;
  background-color: #00a79d;
  padding: 3px 15px;
}
.feature-card .feature-card-details .btn-feature:hover {
  -webkit-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
  background-color: #ef4136;
  box-shadow: 5px 5px #00a79d;
}
.feature-card:hover .feature-card-details {
  bottom: 0;
  -webkit-transition: 0.3s ease all; /* For Safari 3.1 to 6.0 */
  transition: 0.3s ease all;
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 9;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: none;
  background-color: #00a79d;
  border-radius: 6px;
  color: #ffffff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.slick-arrow:hover {
  -webkit-transform: translate(3px, 3px);
  -ms-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  background-color: #262262;
  box-shadow: -5px 5px #00a79d;
}
.slick-arrow::after {
  width: 40px;
  height: 40px;
  font-family: bootstrap-icons !important;
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 20px;
  background-color: #00a79d;
}
.slick-arrow:hover {
  background-color: #262262;
}
.slick-arrow:hover::after {
  background-color: #262262;
}
.slick-arrow.slick-prev {
  left: 0px;
}
.slick-arrow.slick-prev::after {
  content: "\f138";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -6px;
}
.slick-arrow.slick-next {
  right: 0px;
}
.slick-arrow.slick-next::after {
  content: "\f138";
  top: 5px;
}

.testimonial-section {
  padding: 70px 0px;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 599px) {
  .testimonial-section {
    padding: 30px 0px;
  }
}
.testimonial-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: #262262;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.testimonial-section .section-heading {
  color: #ffffff;
  font-family: "NoirPro-Bold";
}
.testimonial-section .section-heading::after {
  background-color: #ffffff;
}
.testimonial-section .section-para {
  color: #ffffff;
}
.testimonial-section .testi-slider .testi-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 6px;
  margin: 25px 15px;
}
.testimonial-section .testi-slider .testi-card .tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
}

.footer-part {
  background-color: #262262;
  color: #ffffff;
}
.footer-part .footer-top {
  padding: 50px 0px;
}
.footer-part .footer-top .footer-logo {
  text-align: center;
}
.footer-part .footer-top .footer-logo img {
  width: 200px;
  margin-bottom: 30px;
}
@media screen and (max-width: 599px) {
  .footer-part .footer-top .footer-logo img {
    width: 150px;
  }
}
.footer-part .footer-top .footer-about {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #696969;
}
@media screen and (max-width: 599px) {
  .footer-part .footer-top .footer-about {
    font-size: 14px;
  }
}
.footer-part .footer-top .footer-contact {
  text-align: center;
  opacity: 0.6;
}
@media screen and (max-width: 599px) {
  .footer-part .footer-top .footer-contact {
    font-size: 14px;
  }
}
.footer-part .footer-top .footer-social-icons {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .footer-part .footer-top .footer-social-icons {
    flex-wrap: wrap;
  }
}
.footer-part .footer-top .footer-social-icons a {
  color: #ffffff;
  padding: 15px;
  opacity: 0.6;
}
@media screen and (max-width: 599px) {
  .footer-part .footer-top .footer-social-icons a {
    font-size: 12px;
    padding: 15px;
  }
}
.footer-part .footer-top .footer-social-icons a:hover {
  opacity: 1;
}
.footer-part .footer-bottom {
  border-top: 1px solid #00a79d;
  padding: 25px;
  text-align: center;
  opacity: 0.6;
}
@media screen and (max-width: 599px) {
  .footer-part .footer-bottom {
    font-size: 12px;
  }
}

.inner-banner-part {
  padding: 100px 0px;
  text-align: center;
  position: relative;
  background: url(../img/bg1.jpg) no-repeat center;
  display: flex;
  justify-content: center;
  z-index: 0;
  background-attachment: fixed;
}
.inner-banner-part::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0b090e;
  opacity: 0.7;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.inner-banner-part .banner-text {
  font-size: 36px;
  font-family: "NoirPro-Bold";
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.inner-body {
  padding: 70px 0px;
}
@media screen and (max-width: 599px) {
  .inner-body .col {
    width: 100%;
    flex: auto;
  }
}
.inner-body h1 {
  font-size: 40px;
  font-family: "NoirPro-Bold";
  color: #00a79d;
  border-bottom: 2px solid #262262;
  line-height: 50px;
  margin-bottom: 30px;
}
@media screen and (max-width: 599px) {
  .inner-body h1 {
    font-size: 30px;
  }
}
.inner-body h3 {
  font-family: "NoirPro-Bold";
  color: #262262;
}
.inner-body p {
  text-align: justify;
}
.inner-body p strong {
  font-family: "NoirPro-Bold";
}
.inner-body .inner-about-img {
  width: 320px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 15px 15px #00a79d;
}
.inner-body .inner-about-img img {
  width: 100%;
}
.inner-body.inner-product .inner-about-img {
  width: 80%;
}
@media screen and (max-width: 599px) {
  .inner-body.products .btn-products {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 599px) {
  .inner-body.products .inner-about-img {
    margin-bottom: 15px;
  }
}
.inner-body.contact-us h1 {
  border: none;
  font-size: 60px;
}
.inner-body.contact-us .inner-about-img {
  width: 100%;
}
.inner-body.contact-us .btn-email {
  border: 1px solid #00a79d;
  color: #00a79d;
  border-radius: 50px;
  padding: 15px 45px;
}
.inner-body.contact-us .btn-email:hover {
  border: 1px solid #262262;
  background-color: #262262;
  color: #ffffff;
}
.inner-body.reverse {
  background: url(../img/section-bg.png) no-repeat;
  background-position: left center;
  background-attachment: fixed;
  background-color: #f5f7fa;
}

.btn-products {
  padding: 10px 40px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #00a79d;
  font-family: "NoirPro-Bold";
  color: #ffffff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.btn-products:hover {
  -webkit-transform: translate(3px, 3px);
  -ms-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  background-color: #262262;
  box-shadow: -5px 5px #00a79d;
  color: #ffffff;
}

.inner-feature-products .card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(11, 9, 14, 0.075);
  height: 100%;
}
.inner-feature-products .card .card-title {
  font-family: "NoirPro-Bold";
  color: #00a79d;
}
.inner-feature-products .card .card-text {
  text-align: justify;
}

@media screen and (max-width: 599px) {
  .inner-feature-products .col {
    width: 100%;
    flex: auto;
  }
}
@media screen and (max-width: 599px) {
  .inner-feature-products .card {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
